html {
    background-image: url('pic3.jpg');
    background-size: cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100%; /* Makes sure the background covers the entire page */
}

body {
    color: white;
    margin: 0; /* Removes default margin to ensure background fits */
    height: 100%; /* Makes body height match the html element */
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 40px;
    background-color: black;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}
h1{
    color: black;
}
